<div class="p-grid back-ground">
  <p-fieldset class="p-col-12 p-md-10 p-md-offset-1 p-col-align-center p-grid">

    <p-header class="section-header main-header">
      {{mainHeaderSlogan}}
    </p-header>
    <p-fieldset legend="flight search properties" [toggleable]="true">
      <div class="p-grid p-justify-center" style="padding: 10px;">
        <span class="p-lg-2 p-md-4 p-grid">
          <span class="p-col-12" style="font-size: 0.8em;">From:</span>
          <input  type="text" pInputText placeholder="{{localization}}" [(ngModel)]="localization"  readonly />
        </span>
        <span class="p-lg-2 p-md-4 p-grid">
          <span class="p-col-12" style="font-size: 0.8em;">Temp min:</span>
          <input  type="text" pInputText placeholder="{{minTemp}}" [(ngModel)]="minTemp" readonly />

        </span>
        <span class="p-lg-2 p-md-4 p-grid">
          <span class="p-col-12 " style="font-size: 0.8em;">Temp max:</span>
          <input type="text" pInputText placeholder="{{maxTemp}}" [(ngModel)]="maxTemp" readonly />

        </span>
        <span class="p-lg-2 p-md-4 p-grid">
          <span class="p-col-12" style="font-size: 0.8em;">
            Departure after:
          </span>
          <input type="text" pInputText placeholder="{{departureDate | date: 'dd/MM/yyyy'}}" [(ngModel)]="departureDate" readonly />

        </span>
        <span class="p-lg-2 p-grid p-md-4">
          <span class="p-col-12" style="font-size: 0.8em;">
            return after:
          </span>
          <input   type="text" pInputText placeholder="{{returnDate | date: 'dd/MM/yyyy'}}" [(ngModel)]="returnDate" readonly />
        </span>

      </div>
      <div class="p-grid back-ground p-justify-center">
        <p-selectButton [options]="selectedWeathers" [(ngModel)]="selectedWeathers" multiple="multiple"
          optionLabel="name" disabled>
          <ng-template let-item>
            <img src="assets/weather/{{item.value.png}}" class="image-button buttonImg" />
          </ng-template>
        </p-selectButton>

        <p-selectButton *ngIf="true" [options]="rain" [(ngModel)]="selectedRainOption" multiple="multiple"
          optionLabel="name" disabled>
          <ng-template let-item>
            <img src="assets/weather/{{item.value.png}}" class="image-button buttonImg"  />
            <span>{{item.name}}</span>
          </ng-template>
        </p-selectButton>
      </div>


    </p-fieldset>

    <p-dataView #dv [value]="f" [paginator]="false" [rows]="20" paginatorPosition="both" filterBy="brand"
      [sortField]="sortField" [sortOrder]="sortOrder">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-flight pTemplate="listItem">
        <div class="p-grid p-justify-center" style="padding: 2em;border-bottom: 1px solid #d9d9d9">


              <div class="destination p-md-9 p-sm-12"><b>{{flight.destination}}</b></div>

              <div>
              <span class="p-md-1 p-sm-4">
                <img *ngIf="flight.rain" class="iconImg" src="assets/weather/raindrops.png"/>
                <a *ngIf="!flight.rain"> no rain </a>
              </span>

              <span class="p-md-1 p-sm-4">
                <img class="iconImg" src="assets/weather/sunny.png"/>
              </span>

              <span class="p-md-1 p-sm-4" style="text-align: right">{{flight.temperature}} °C</span>

              </div>

              <span class="p-md-10 p-sm-10" style="text-align: left">From: {{flight.from}}</span>
              <span class="p-md-2 p-sm-2" style="text-align: right">
                <i>{{flight.price}} € </i>
              </span>


              <span class="p-md-10 p-sm-10" style="text-align: left">
              {{flight.departureDate | date: 'dd/MM/yyyy'}} -
              {{flight.returnDate | date: 'dd/MM/yyyy'}}
              </span>
              <span class="p-md-2 p-sm-2" style="text-align: right"><a href="{{flight.link}}">Buy now</a></span>

        </div>
      </ng-template>
    </p-dataView>

  </p-fieldset>

  <div style="font-size: 0.5em;" class="p-col-10">Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha"
                                                  title="Pixel Buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                      target="_blank">CC 3.0 BY</a></div>


</div>
