div{
  text-align: center;
}
h1{
  font-size: 1.5em;
}
.buttonImg{
  width: auto;
  height: 8vh;
}

.iconImg{
  width: 4vh;
  height: auto;
}
.back-ground::before{
  background-color: #007ad9;
}

.section-header{
  text-align: left;
  font-size: 1.5em;
  font-style: italic;
  color: #007ad9;
}

.main-header{
  font-size: 2.5em;
}

.image-button{
  margin: 0.7vw; padding: 0.7vw;
}
.ui-dropdown{
  min-width: 18.5em !important;
}
input{
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  width: 95%;
}

.destination {
  text-align: left;
  font-size: 2.5em;
  font-style: italic;
  color: #007ad9;
}

.ui-datatable-emptymessage {
  display:none;
}
