/* You can add global styles to this file, and also import other style files */
* {
  font-size: 1.05em;
  font-family: "Charter", Arial, sans-serif;
}

body .ui-selectbutton .ui-button{
  background-color: transparent;
  border: none;
}

body .ui-selectbutton .ui-button:hover{
  background-color: transparent;
  border: none;
}
body .ui-selectbutton .ui-button.ui-state-active {
  background-color: transparent;
  border: 3px solid #80ced6;
}
body .ui-selectbutton .ui-button.ui-state-active .ui-button-icon-left {
  color: #ffffff;
}
body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
  background-color: transparent;
  border: 3px solid #80ced6;
}
body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover .ui-button-icon-left {
  color: #ffffff;
}
body .ui-selectbutton .ui-button.ui-state-active.ui-state-focus {
  background-color: transparent;
  border: 3px solid #80ced6;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus{
  background-color: transparent;
  border: none;
}

body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus:hover{
  background-color: transparent;
  border: none;
}
body .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color: transparent;
  border: none;
}
