<div class="p-grid back-ground">


  <p-fieldset class="p-col-12 p-md-10 p-md-offset-1 p-col-align-center">

    <p-header class="section-header main-header">
      {{mainHeaderSlogan}}
    </p-header>

<!--    <p-fieldset>-->

<!--      <h2 class="section-header">-->
<!--        {{basicInfoSlogan}}-->
<!--      </h2>-->

      <div class="p-grid p-justify-center" style="margin: 2vh;">
        <input type="text" pInputText placeholder="Where are you travelling from?" [(ngModel)]="localization"
               class="p-col-9" (input)='checkLocalization($event)'/>
        <button pButton type="button" icon="pi pi-globe" iconPos="left" class="p-col-2"></button>
        <div *ngIf="localizationError" class="ui-message ui-messages-error p-col-12">
          We have to know where you are travelling from. The localization should be at least 3 characteres.
        </div>
      </div>

      <div class="p-grid p-justify-center">
        <span class="p-col-12 p-md-4">
          <span class="p-md-2">
              Departure after:
            </span>
        <p-calendar [(ngModel)]="departureDate" (onSelect)="checkIfReturnDayAfterDepartureDay()"></p-calendar>
        </span>
        <span class="p-col-12 p-md-4">
          <span class="p-md-2">
          Return before:
            </span>
        <p-calendar [(ngModel)]="returnDate" (onSelect)="checkIfReturnDayAfterDepartureDay()"></p-calendar>
        </span>
      </div>
      <div *ngIf="dateError" class="ui-message ui-messages-error p-col-12">
        Return date can't be before departure date.
      </div>
      <div>
        <h2> Duration: </h2>
      </div>
      <div class="p-grid p-justify-center">
        <span class="p-col-12 p-md-4">
        Min. :
        <p-dropdown [(ngModel)]="minDays" [options]="days" (onChange)="checkIfDaysMaxHigherThanMin()">
        </p-dropdown>
        </span>

        <span class="p-col-12 p-md-4">
           Max. :
        <p-dropdown [(ngModel)]="maxDays" [options]="days" (onChange)="checkIfDaysMaxHigherThanMin()">
        </p-dropdown>
        </span>
      </div>
      <div *ngIf="daysError" class="ui-message ui-messages-error p-col-12">
        Min days can't be more than max days.
      </div>

<!--    </p-fieldset>-->

<!--    <p-fieldset>-->

<!--      <h2 class="section-header">-->
<!--        {{weatherInfoSlogan}}-->
<!--      </h2>-->

      <h2>
        Cloudy, sunny or partly?
      </h2>


      <p-selectButton [options]="weather" [(ngModel)]="selectedWeathers" multiple="multiple" optionLabel="name" (onChange)="checkIfAnyChosen()">
        <ng-template let-item>
          <img src="assets/weather/{{item.value.png}}" class="image-button"/>
          <span>{{item.name}}</span>
        </ng-template>
      </p-selectButton>
      <div *ngIf="noneWeatherOptionsSelected" class="ui-message ui-messages-error p-col-12">
        For sure at least one weather option suits you.
      </div>


      <h2>
        Are you fine with some rain?
      </h2>
      <p-selectButton [options]="rain" [(ngModel)]="selectedRainOption" multiple="multiple" optionLabel="name">
        <ng-template let-item>
          <img src="assets/weather/{{item.value.png}}" class="image-button"/>
          <span>{{item.name}}</span>
        </ng-template>
      </p-selectButton>

      <h2>
        What about the temperature?
      </h2>

      <div class="p-grid p-justify-center">
        <span class="p-col-12 p-md-4">
          Min. :

      <p-dropdown [(ngModel)]="minTemp" [options]="temperature" (onChange)="checkIfTempMaxHigherThanMin()">
      </p-dropdown>
        </span>
        <span  class="p-col-12 p-md-4">
         Max. :
        <p-dropdown [(ngModel)]="maxTemp" [options]="temperature" (onChange)="checkIfTempMaxHigherThanMin()">
        </p-dropdown>
        </span>
      </div>
      <div *ngIf="tempError" class="ui-message ui-messages-error p-col-12">
        Min temp can't be higher than max temp.
      </div>

<!--    </p-fieldset>-->

    <div style="padding: 2%">
      <button pButton type="button" class="ui-button p-col-10 p-md-6 " label="Let's fly!"  (click)="checkValidationAndSearch()"></button>
    </div>

    <div *ngIf="anyErrors" class="ui-message ui-messages-error p-col-12">
      Fill the info properly before we can run your search.
    </div>

  </p-fieldset>

</div>
<div style="font-size: 0.5em;">Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha"
                                                title="Pixel Buddha">Pixel Buddha</a> from <a
  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
  href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
